---
import { mission_styles } from '../../../styles/colors';
---

<style
  lang='scss'
  define:vars={{
    TEXT_PINK: mission_styles.TEXT_PINK,
    TEXT_LT_PINK: mission_styles.TEXT_LT_PINK,
  }}
>
  .mission {
    display: flex;
    height: max(100vh, 500px);
    min-height: 100vh;
    max-width: 100%;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: space-between;
    * {
      color: white;
    }

    .content {
      flex: 3 1 250px;
      display: flex;
      flex-direction: column;
      row-gap: 2rem;
      padding: 5rem;
      .toright {
        margin-bottom: 3rem;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        h1 {
          font-size: 50px;
          font-weight: 400;
          margin-left: 5rem;
          line-height: 3.5rem;
          color: var(--TEXT_LT_PINK);
          text-align: right;
        }
      }
      .toleft {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        row-gap: 3rem;
        p {
          font-weight: 300;
          font-size: 26px;
          line-height: 35px;
          text-align: right;
        }
        .border {
          border-width: 2px;
          border-style: solid;
          border-image: linear-gradient(to right, #f61cc7, #06626a) 1;
          max-width: 600px;
          margin: 0 auto;
          padding: 1rem;
          p {
            font-size: 24px;
            color: var(--TEXT_PINK);
          }
        }
      }
    }

    .left {
      .img-wrapper {
        height: 700px;
        min-height: 100%;
        img {
          height: 100%;
        }
      }
    }
  }
</style>

<div class='mission'>
  <div class='left'>
    <div class='img-wrapper'>
      <img src='/images/red_wolf.png' alt='Red Wolf' />
    </div>
  </div>

  <div class='content'>
    <div class='toright'>
      <h1>FearlessTech's Mission</h1>
    </div>
    <div class='toleft'>
      <p>
        <span>
          We strive to be a friendly and responsive group of collaborators
        </span>
        <br />
        <span>who are all learning from and teaching one another.</span>
      </p>
      <div class='border'>
        <p>
          Our goal is to be inclusive to the largest number of contributors,
          with the most diverse backgrounds from everywhere in the World.
        </p>
      </div>
    </div>
  </div>
</div>
